/* CUSTOM CSS */

* {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(59, 76, 202);
  background: linear-gradient(
    90deg,
    rgba(59, 76, 202, 0.95) 0%,
    rgba(255, 0, 0, 0.95) 50%,
    rgba(255, 222, 0, 0.95) 100%
  );
}

.main-title {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3b4cca;
  color: #ffde00;
  margin: 10px 0 45px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
  gap: 35px 25px;
  width: calc(100vw - 120px);
  margin-top: 5px;
}

.card-wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}

.card-image-wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  width: calc(100% - 26px);
  border: 1px solid black;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px 9px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 9px 0px rgba(0, 0, 0, 0.5);
}

.card-images {
  width: 80%;
  height: 80%;
}

.card-titles {
  font-size: 1.1rem;
  margin-bottom: 3px;
}

.pokedex-number {
  margin-top: 3px;
}

.type-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 1.7px solid black;
  border-radius: 50%;
  margin-left: 10px;
}

.icon-alt {
  width: 25px;
  height: 25px;
  border: 1.7px solid black;
  border-radius: 50%;
  margin-left: 5px;
}

.card-titles,
.pokedex-number,
.pokemon-type {
  font-family: "Roboto Mono", monospace;
}

/* POKEMON TYPE ICONS */

.bug-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/3/3c/Pok%C3%A9mon_Bug_Type_Icon.svg);
  background-color: #83c400;
}

.dragon-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/Pok%C3%A9mon_Dragon_Type_Icon.svg);
  background-color: #0070ca;
}

.electric-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/a/a9/Pok%C3%A9mon_Electric_Type_Icon.svg);
  background-color: #fbd200;
}

.fairy-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/0/08/Pok%C3%A9mon_Fairy_Type_Icon.svg);
  background-color: #fb8bec;
}

.fighting-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/b/be/Pok%C3%A9mon_Fighting_Type_Icon.svg);
  background-color: #e12d6a;
}

.fire-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/5/56/Pok%C3%A9mon_Fire_Type_Icon.svg);
  background-color: #ff993e;
}

.flying-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/e/e0/Pok%C3%A9mon_Flying_Type_Icon.svg);
  background-color: ;
  background-color: #8aace3;
}

.ghost-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Pok%C3%A9mon_Ghost_Type_Icon.svg);
  background-color: #4a6ab3;
}

.grass-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg);
  background-color: #33c049;
}

.ground-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/8/8d/Pok%C3%A9mon_Ground_Type_Icon.svg);
  background-color: #e97332;
}

.ice-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/8/88/Pok%C3%A9mon_Ice_Type_Icon.svg);
  background-color: #4bd2c1;
}

.normal-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/a/aa/Pok%C3%A9mon_Normal_Type_Icon.svg);
  background-color: #929ba4;
}

.poison-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/c/c4/Pok%C3%A9mon_Poison_Type_Icon.svg);
  background-color: #b767d0;
}

.psychic-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Pok%C3%A9mon_Psychic_Type_Icon.svg);
  background-color: #ff6676;
}

.rock-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/b/bb/Pok%C3%A9mon_Rock_Type_Icon.svg);
  background-color: #c9b887;
}

.steel-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/3/38/Pok%C3%A9mon_Steel_Type_Icon.svg);
  background-color: #5a8fa3;
}

.water-icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Pok%C3%A9mon_Water_Type_Icon.svg);
  background-color: #3393dd;
}

/* CARD BACKGROUND AND CARD IMAGE BACKGROUND COLORS */

.bug {
  background-color: #72a03f;
}

.bug-light {
  background-color: #d6e7c3;
}

.electric {
  background-color: #eed535;
}

.electric-light {
  background-color: #f9efb2;
}

.dragon-light {
  background-color: #fbdad4;
}

.fairy {
  background-color: #fcb9e8;
}

.fairy-light {
  background-color: #feeaf8;
}

.fighting {
  background-color: #d56721;
}

.fighting-light {
  background-color: #f5d2bc;
}

.fire {
  background-color: #fd7d24;
}

.fire-light {
  background-color: #fecdab;
}

.flying {
  background-color: #3ec8ef;
}

.flying-light {
  background-color: #bbecf9;
}

.ghost {
  background-color: #7b62a3;
}

.ghost-light {
  background-color: #d5cde2;
}

.grass {
  background-color: #9bcb50;
}

.grass-light {
  background-color: #deeec6;
}

.ground {
  background-color: #ab9942;
}

.ground-light {
  background-color: #ece6cd;
}

.ice {
  background-color: #51c4e7;
}

.ice-light {
  background-color: #c8ecf7;
}

.normal {
  background-color: #a3abae;
}

.normal-light {
  background-color: #d9dcde;
}

.poison {
  background-color: #b87ec8;
}

.poison-light {
  background-color: #dfc5e6;
}

.psychic {
  background-color: #f366b9;
}

.psychic-light {
  background-color: #fac4e4;
}

.rock {
  background-color: #a28d21;
}

.rock-light {
  background-color: #f2eabf;
}

.steel {
  background-color: #9eb7b7;
}

.steel-light {
  background-color: #cfdbdb;
}

.water {
  background-color: #4592c4;
}

.water-light {
  background-color: #c6deed;
}

/* GRADIENT BACKGROUND COLORS FOR CARD WRAPPERS */

.bug-flying {
  background: rgb(114, 160, 63);
  background: linear-gradient(
    45deg,
    rgba(114, 160, 63, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.bug-grass {
  background: rgb(114, 160, 63);
  background: linear-gradient(
    45deg,
    rgba(114, 160, 63, 1) 50%,
    rgba(155, 203, 80, 1) 50%
  );
}

.bug-poison {
  background: rgb(114, 160, 63);
  background: linear-gradient(
    45deg,
    rgba(114, 160, 63, 1) 50%,
    rgba(184, 126, 200, 1) 50%
  );
}

.dragon {
  background: rgb(241, 111, 87);
  background: linear-gradient(
    45deg,
    rgba(241, 111, 87, 1) 50%,
    rgba(84, 164, 207, 1) 50%
  );
}

.dragon-flying {
  background: rgb(241, 111, 87);
  background: linear-gradient(
    45deg,
    rgba(241, 111, 87, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.electric-flying {
  background: rgb(238, 213, 53);
  background: linear-gradient(
    45deg,
    rgba(238, 213, 53, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.electric-steel {
  background: rgb(238, 213, 53);
  background: linear-gradient(
    45deg,
    rgba(238, 213, 53, 1) 50%,
    rgba(158, 183, 183, 1) 50%
  );
}

.fire-flying {
  background: rgb(253, 125, 36);
  background: linear-gradient(
    45deg,
    rgba(253, 125, 36, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.ghost-poison {
  background: rgb(155, 203, 80);
  background: linear-gradient(
    45deg,
    rgba(155, 203, 80, 1) 50%,
    rgba(243, 102, 185, 1) 50%
  );
}

.grass-poison {
  background: rgb(155, 203, 80);
  background: linear-gradient(
    45deg,
    rgba(155, 203, 80, 1) 50%,
    rgba(184, 126, 200, 1) 50%
  );
}

.grass-psychic {
  background: rgb(155, 203, 80);
  background: linear-gradient(
    45deg,
    rgba(155, 203, 80, 1) 50%,
    rgba(243, 102, 185, 1) 50%
  );
}

.ground-rock {
  background: rgb(171, 153, 66);
  background: linear-gradient(
    45deg,
    rgba(171, 153, 66, 1) 50%,
    rgba(162, 141, 33, 1) 50%
  );
}

.ice-flying {
  background: rgb(81, 196, 231);
  background: linear-gradient(
    45deg,
    rgba(81, 196, 231, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.ice-psychic {
  background: rgb(81, 196, 231);
  background: linear-gradient(
    45deg,
    rgba(81, 196, 231, 1) 50%,
    rgba(243, 102, 185, 1) 50%
  );
}

.normal-fairy {
  background: rgb(163, 171, 174);
  background: linear-gradient(
    45deg,
    rgba(163, 171, 174, 1) 50%,
    rgba(252, 185, 232, 1) 50%
  );
}

.normal-flying {
  background: rgb(163, 171, 174);
  background: linear-gradient(
    45deg,
    rgba(163, 171, 174, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.poison-flying {
  background: rgb(184, 126, 200);
  background: linear-gradient(
    45deg,
    rgba(184, 126, 200, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.poison-ground {
  background: rgb(184, 126, 200);
  background: linear-gradient(
    45deg,
    rgba(184, 126, 200, 1) 50%,
    rgba(171, 153, 66, 1) 50%
  );
}

.psychic-fairy {
  background: rgb(243, 102, 185);
  background: linear-gradient(
    45deg,
    rgba(243, 102, 185, 1) 50%,
    rgba(252, 185, 232, 1) 50%
  );
}

.rock-flying {
  background: rgb(162, 141, 33);
  background: linear-gradient(
    45deg,
    rgba(162, 141, 33, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.rock-ground {
  background: rgb(162, 141, 33);
  background: linear-gradient(
    45deg,
    rgba(162, 141, 33, 1) 50%,
    rgba(171, 153, 66, 1) 50%
  );
}

.rock-water {
  background: rgb(162, 141, 33);
  background: linear-gradient(
    45deg,
    rgba(162, 141, 33, 1) 50%,
    rgba(69, 146, 196, 1) 50%
  );
}

.water-fighting {
  background: rgb(69, 146, 196);
  background: linear-gradient(
    45deg,
    rgba(69, 146, 196, 1) 50%,
    rgba(213, 103, 33, 1) 50%
  );
}

.water-flying {
  background: rgb(69, 146, 196);
  background: linear-gradient(
    45deg,
    rgba(69, 146, 196, 1) 50%,
    rgba(62, 200, 239, 1) 50%
  );
}

.water-ice {
  background: rgb(69, 146, 196);
  background: linear-gradient(
    45deg,
    rgba(69, 146, 196, 1) 50%,
    rgba(81, 196, 231, 1) 50%
  );
}

.water-poison {
  background: rgb(69, 146, 196);
  background: linear-gradient(
    45deg,
    rgba(69, 146, 196, 1) 50%,
    rgba(184, 126, 200, 1) 50%
  );
}

.water-psychic {
  background: rgb(69, 146, 196);
  background: linear-gradient(
    45deg,
    rgba(69, 146, 196, 1) 50%,
    rgba(243, 102, 185, 1) 50%
  );
}
