// COLOR VARIABLES

// type colors and lightened versions for image backgrounds
$color-bug-type: #72a03f;
$color-bug-light: #d6e7c3;
$color-dragon-type-1: #54a4cf;
$color-dragon-type-2: #f16f57;
$color-dragon-light: #fbdad4;
$color-electric-type: #eed535;
$color-electric-light: #f9efb2;
$color-fairy-type: #fcb9e8;
$color-fairy-light: #feeaf8;
$color-fighting-type: #d56721;
$color-fighting-light: #f5d2bc;
$color-fire-type: #fd7d24;
$color-fire-light: #fecdab;
$color-flying-type: #3ec8ef;
$color-flying-light: #bbecf9;
$color-ghost-type: #7b62a3;
$color-ghost-light: #d5cde2;
$color-grass-type: #9bcb50;
$color-grass-light: #deeec6;
$color-ground-type: #ab9942;
$color-ground-light: #ece6cd;
$color-ice-type: #51c4e7;
$color-ice-light: #c8ecf7;
$color-normal-type: #a3abae;
$color-normal-light: #d9dcde;
$color-poison-type: #b87ec8;
$color-poison-light: #dfc5e6;
$color-psychic-type: #f366b9;
$color-psychic-light: #fac4e4;
$color-rock-type: #a28d21;
$color-rock-light: #f2eabf;
$color-steel-type: #9eb7b7;
$color-steel-light: #cfdbdb;
$color-water-type: #4592c4;
$color-water-light: #c6deed;
